*:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

body {
  /* scroll-behavior: smooth; */
  /* overflow-y: scroll; */
  overflow:hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */ 
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.navbar-end>a {
  color: white;
}

/* TYPEWRITER START */
.tw-line {
  width: 0;
  border-right: 2px solid rgba(0,0,0,.75);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typewriter {
  0% { width: 0; }
  30% { width: 100%; }
  50% { width: 100%; }
  90% { width: 0; }
  100% { width: 0; }
}

@keyframes blinkTextCursor {
  from { border-right-color: rgba(0,0,0,.75); }
  to { border-right-color: transparent; }
}

.tw-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: #fffbfb;
}

.tw-contents {
  text-align: center;
  position: fixed;
}

.tw-contents>div {
  display: inline-block;
  font-size: 225%;
}

.tw-contents>div:not(:last-child) {
  margin-right: .5em;
}

.tw-word-wrapper {
  width: 8em;
  border-bottom: 2px solid #4a4a4a;
  text-align: initial;
  line-height: 90%;
}

.tw-word-contents {
  display: inline-block;
  vertical-align: text-top;
}


/* TYPEWRITER END */
/* LOGO START */
.logo {
  line-height: 1;
  position: fixed;
  top: 1em;
  left: 1em;
  font-weight: 700;
  font-size: 2em;
  cursor: pointer;
  background: transparent;
  padding-left: 4px;
  z-index: 2;
}

.logo>a {
  color: inherit;
}

.logo>a>span {
  transition: max-width 1.75s;
  overflow: hidden;
  display: inline-block;
  font-family: 'Anonymous Pro', monospace;
  max-width: 1ch;
  /* text-decoration: underline; */
}

.logo:hover>a span {
  max-width: 14ch;
  transition: max-width 1.5s;
  text-decoration: underline;
  opacity: .7;
}
/* LOGO END */
/* BOTTOM FLOAT START */
.fold {
  height: 50px;
  width: 100%;
  text-align: center;
  background: black;
}

/* Float */
.hvr-float {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hamburger-wrapper {
  position: fixed;
  right: 1em;
  top: 1.5em;
  z-index: 3;
  /* outline: 0px; */
}

.menu-wrapper {
  display: none;
  position: fixed;
  /* background-color: white; */
  z-index: 2;
  width: 100%;
  height: 100vh;
}

.flex-center {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.black.logo {
  color: #4a4a4a;
}

.black.hamburger-wrapper hamburger-inner, .black.hamburger-wrapper .hamburger-inner::before, .black.hamburger-wrapper .hamburger-inner::after {
  background: #4a4a4a;
}

.white.logo {
  color: #fff;
}

.white.hamburger-wrapper .hamburger-inner, .white.hamburger-wrapper .hamburger-inner::before, .white.hamburger-wrapper .hamburger-inner::after {
  background: #fff;
}

.blue.logo {
  color: #0e2b6e;
}

.blue.hamburger-wrapper .hamburger-inner, .blue.hamburger-wrapper .hamburger-inner::before, .blue.hamburger-wrapper .hamburger-inner::after {
  background: #0e2b6e;
}

.slide-btn-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  visibility: hidden;  
}

.nav-wrapper, .contact, .nav {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .contact, .nav {
    height: 50%;
  }
}

.nav {
  background: #bf9b6a;
  color: white;
  transform: translateX(100%);
  transition: transform .5s;
}

.contact {
  background: #0074ac;
  color: white;
  transform: translateX(-100%);
  transition: transform .5s;
}

.menu-wrapper.is-active .nav.column {
  transform: translateX(0%);
}

.menu-wrapper.is-active .contact.column {
  transform: translateX(0%);
}

.blink-cursor {
  text-decoration: underline;
}

/* .columns>.column {
  background: white;
} */

.sections>section {
  position: relative; 
  min-height: 100vh;
}

/* .sections>section .container {
  position: absolute;
  top: 50%;
} */

.is-primary {
  background: red;
}

.is-info {
  background: green;
}

.white-font {
  color: white;
}

.black-font {
  color: #4a4a4a;
}

.blue-font {
  color: #0e2b6e;
}

/* .page-wrapper {
  z-index: 0;
   position: static; 
} */

.tile.is-gapless .tile.is-parent {
  padding: 0;
}
  
.tile.is-gapless .tile.is-vertical>.tile.is-child {
  margin-bottom: 0 !important;
}
  
.tile.is-gapless .notification {
  border-radius: 0;
}

.tile.is-gapless {
  margin: 0 !important;
}

.columns.is-gapless + .columns.is-gapless .column {
	margin: 0 !important;
}

a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
  position: absolute;
  right: 2em;
  top: 2em;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  /* position: absolute; */
  width: 300px;
  margin: 0 -100px -50px 0;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  top: 0;
  right: 0;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

p {
  margin-bottom: 1rem;
}

.tw-tagline {
  text-align: center; 
  font-size: 90%;
  /* font-size: inherit;  */
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.tw-block {
  display: inline-block;
}

.hero-body {
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-1 {
  background-color: #76f099;

}

.section-1, .section-1 .title, .section-1 .subtitle {
  color: #0e2b6e;
  /* color: white; */
}

.section-1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0.1;
  background: url('../media/philly1.jpeg');
}

.section-1 p {
  font-size: 1.25em;
}

.section-2 {
  background-color: #0074ac;
}

.section-2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0.1;
  background: url('../media/code1.jpeg') center center;
}

.section-2 .column li {
  font-size: 1.25em;
}

.section-3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0.1;
  background: url('../media/process1.jpeg');
  background-size: cover;
}

.section-4 {
  background-color: #0074ac;
}

.section-4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0.6;
  background: url('../media/space1.jpeg') center center;
}


